

#one-box{
	width:100%;
	overflow:hidden;
	
	background-image:url('../Index-imgs/images/background.gif');
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}


#two-box{
	width:1180px;
	height:auto;
	margin:0 auto;
	
}

.navigation{
	width:1180px;
	height:112px;
	overflow:hidden;
}

.logo{
	float:left;
	margin-top:26px;
}


.service{
	width:406px;
	height:32px;
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	margin-top:40px;
}

.service li{
	height:32px;
	float:left;
	margin-left:40px;
}

.service li a{
	text-decoration:none;
	color:white;
}

.service li a .server-one{
	font-size:15px;
	
}

.service li a .server-two{
	font-size:8px;
	padding-top:7px;
}
.service li a span{
	display:block;
	text-align:center;
	color:#7878c8;
	padding:0;
	margin:0;
}

.service li:hover a span{
	color:white
}



.home{
	width:12px;
	height:58px;
	margin-top:150px;
	float:left;
}


.pic-one{
	width:851px;
	height:71px;
	
	float:left;
	margin-top:150px;
	margin-left:153px;
}


.pic-two{
	width:852px;
	height:47px;
	
	float:left;
	margin-top:49px;
	margin-left:167px;
}

.pic-two .left{
	width:375px;
	height:47px;
	float:left;
}

.pic-two .right{
	width:375px;
	height:47px;
	float:right;
}

 .english{
 	width:859px;
 	height:26px;
 
 	float:left;
 	margin-left:164px;
 	margin-top:41px;
 }


.details{
	width:161px;
	height:39px;
	background:red;
	float:left;
	margin-left:509px;
	margin-top:67px;
	text-align:center;
	line-height:40px;
	border-radius: 20px;
	background:#0e1458;
	border:1px solid black;
}

.details a{
	text-decoration:none;
	color:#386be5;
	font-size:15px;
	font-weight:bold;
	
}
.details:hover a {
	color:white;
}

.banner{
	float:left;
	width:1180px;
	height:203px;
	margin-top:29px;
}
.banner img{
	width:100%;
	height:100%;
}



.water{
	width:1180px;
	height:161px;
	float:left;
	
}

.water .water-pic{
	width:8px;
	height:32px;
	margin: 58px auto;
}

.enterprise-qiye{
	width:1180px;
	height:509px;

	float:left;
	
	position:relative;
	clear:both;
}

.one-pic{
	width:576px;
	height:150px;

	
	float:left;
	margin-top:33px;
	margin-left:45px;
}
.enterprise-qiye .positions{
	height:41px;
	width:197px;
	
	float:left;
	position:absolute;
	left:478px;
	top:144px;
	
}
.positions p{
	width:2px;
	height:33px;
	padding-top:7px;
	float:left;
}


.qiye {
	width:167px;
	height:40px;
	
	float:right;
}


.era-sd{
	width:251px;
	height:auto;
	
	float:right;
	margin-right:132px;
}

.era-sd li div img{
	float:left;
	padding-right:29px;
	padding-top:12px;
	}
	.enterprise-qiye .era-sd li div p{
		line-height:25px;
		font-size:12px;
		color:#7575c4;
	}
.enterprise-qiye .era-sd li div p:nth-of-type(1){
	font-weight:bolder;
	font-size:15px;
	color:white;
	padding-top:11px;
}
.enterprise-qiye .era-sd li div p:nth-of-type(2){
	
	margin-left:53px;
}
.enterprise-qiye .era-sd li div p:nth-of-type(3){
	margin-left:53px;
}
.enterprise-qiye .era-sd li div p:nth-of-type(4){
	margin-left:53px;
}
.enterprise-qiye .era-sd li div p:nth-of-type(5){
	margin-left:53px;
}
.enterprise-qiye .era-sd li div p:nth-of-type(6){
	margin-left:53px;
}

.water-two{
	width:1180px;
	height:135px;
	
	float:left;
	text-align:center;

}

.water-two .water-two-a{
	width:8px;
	height:32px;
	margin:39px auto;
}


.earth{
	width:1180px;
	height:1284px;
	
	float:left;
	margin-top:34px;
}

.earth .earth-pics{
	width:1180px;
	height:916px;
	background:#0a0d4e;
	float:left;
	
}
.earth .earth-pics img{
	width:100%;
	height:100%;
}



.earth .earth-bottom{
	width:1180px;
	height:369px;
	
	float:left;
}
.earth .earth-bottom ul li{
	width:162px;
	height:auto;
	
	float:left;
	margin-top:100px;
}
.earth .earth-bottom ul li div{
	width:120px;
	height:120px;
	margin:0 auto;
	
}
.earth .earth-bottom ul li strong{
	display:block;
	width:100%;
	text-align:center;
	font-size:16px;
	font-weight:900;
	color:white;
	padding-top:20px;
	padding-bottom:11px;
}

.earth .earth-bottom ul li p{
	width:112px;
	text-align:center;
	margin: 0 auto;
	font-size:12px;
	line-height:25px;
	color:#7373c2;
}
.earth .earth-bottom ul li:nth-child(1){
	margin-left:64px;
}

.earth .earth-bottom ul li:nth-child(2){
	margin-left:133px;
}
.earth .earth-bottom ul li:nth-child(3){
	margin-left:133px;
}
.earth .earth-bottom ul li:nth-child(4){
	margin-left:133px;
}

.fi{
	width:1180px;
	height:2000px;
	float:left;
}


.water-three{
	width:1180px;
	height:147px;
	
	float:left;
}

.water-three .water-three-pic{
	width:8px;
	height:32px;
	margin:0 auto;
	margin-top:58px;
}


.news-autos-one{
	width:1180px;
	height:671px;
	
	float:left;
}


.news-autos-one .new-biaoti{
	width:1180px;
	height:93px;
	
	float:left;
}

.news-autos-one .new-biaoti .new-biaoti-nei{
	width:253px;
	height:93px;
	
	margin:0 auto;
	background-image:url(../Index-imgs/images/news5.png);
	background-repeat:no-repeat;
	overflow:hidden;
}
.news-autos-one .new-biaoti .new-biaoti-nei .news-one{
	font-size:23px;
	color:white;
	display:block;
	text-align:center;
	padding-top:38px;
}
.news-autos-one .new-biaoti .new-biaoti-nei .news-two{
	font-size:12px;
	color:white;
	display:block;
	text-align:center;
	padding-top:7px;
}

#news-four{
	width:1180px;
	height:475px;
	
	float:left;
	margin-top:103px;
}

#news-four ul{
	width:486px;
	height:auto;
	float:left;
	
	padding-right:99px;
	border-right:2px solid #131256;
}
.news-autos-one #news-four .nei-one-a{
	padding-bottom:23px;
	
}
.news-autos-one #news-four .nei-one-b{
	line-height:29px;
	color:white;
}

.news-autos-one #news-four #news-four-one-nei{
	padding-bottom:42px;
	border-bottom:2px solid #131256;
	
}
.news-autos-one #news-four #news-four-two-nei{
	
	margin-top:47px;
	
	
}
.news-autos-one #news-four .nei-one-a strong{
	font-size:16px;
	color:white;
}
.news-autos-one #news-four .nei-one-a span{
	font-size:12px;
	color:#8c87bb;
	float:right;
}


.news-autos-one  #news-four ol{
	width:456px;
	height:auto;
	float:right;
	
}

.news-autos-one  #news-four ol li:nth-child(1){
	padding-bottom:42px;
	border-bottom:2px solid #131256;
}
.news-autos-one  #news-four ol li:nth-child(2){
	margin-top:47px;
}


.water-five{
	width:1180px;
	height:146px;
	
	float:left;
	
}

.water-five .water-five-n{
	width:8px;
	height:32px;
	margin:0 auto;
}


/*合作伙伴*/

.parters{
	width:1180px;
	height:525px;
	
	float:left;
}

.parters .partenr-pic{
	width:1180px;
	height:92px;
	
	
}
.parters .partenr-pic .pic{
	width:416px;
	height:92px;
	
	background-image:url("../Index-imgs/images/parten.png");
	background-repeat:no-repeat;
	margin:0 auto;
	overflow:hidden;
}

.parters .partenr-pic .pic .text-one{
	font-size:23px;
	color:white;
	text-align:center;
	margin-top:34px;
}

.parters .partenr-pic .pic .text-two{
	font-size:12px;
	color:white;
	text-align:center;
	margin-top:9px;
}

/*合作伙伴的图标*/

#partners-icon{
	width:1180px;
	height:241px;
	
	float:left;
	margin-top:104px;
	background-image:url("../Index-imgs/images/08_03.png");
}
#partners-icon ul {
	width:1180px;
	height:241px;
}
#partners-icon ul li{
	width:119px;
	height:36px;
	
	float:left;
	margin-left:43px;
	margin-top:50px;
	text-align:center;
	line-height:36px;
}
/*收尾*/

.footer{
	width:1180px;
	height:1526px;
	float:left;
}


.water-six{
	width:1180px;
	height:32px;
	
	float:left;
	
}
.water-six p{
	width:8px;
	height:32px;
	margin:0 auto;
}

.footer .contact-sai-fu{
	width:1180px;
	height:122px;
	
	float:left;
}
.footer .contact-sai-fu p:nth-child(1){
	font-size:23px;
	color:white;
	text-align:center;
	margin-top:60px;
}

.footer .contact-sai-fu p:nth-child(2){
	font-size:12px;
	color:white;
	text-align:center;
	margin-top:13px;
}


.footer ul{
	width:1180px;
	height:65px;
	
	float:left;
	margin-top:127px;
}
.footer ul li{
	width:65px;
	height:65px;
	float:left;
	text-align:center;
	
}

.footer ul li:nth-child(5) img{
	padding-bottom:12px;
}


.footer ul li{
	margin-left:90px;
}

.forms{
	width:1180px;
	height:412px;
	
	float:left;
	margin-top:136px;
}

.forms #forms-send{
	width:402px;
	height:412px;
	
	margin:0 auto;
}
.forms #forms-send p{
	width:384px;
	height:38px;
	float:left;
	
}
.forms #forms-send p input{
	width:382px;
	height:38px;
	background:none;
	color:#7f7e8e;
	border:2px solid #434d7d;
	padding-left:18px;
	border-radius: 20px;
}

.forms #forms-send p .name-two{
	margin-top:20px;
	
}
.forms #forms-send .area{
	width:382px;
	height:215px;
	border:1px solid #434d7d;
	color:#7f7e8e;
	background:none; 
	margin-top:46px;
	border-radius: 20px;
	padding-left:18px;
	padding-top:12px;
}


.forms #forms-send .submits{
	float:right;
	width:78px;
	height:38px;
	margin-top:18px;
	border-radius: 20px;
	border:none;
	font-size:14px;
	color:white;
	background:#1f378b
}

.footer .bottom-text{
	width:1111px;
	padding-left:100px;
	float:left;
	
	margin-top:101px
}
.footer ul li p{
	color:#787bc3;
}
.footer .bottom-text li{
	float:left;
	padding-left:14px;
	padding-right:14px;
	color:#36345c;
	font-size:12px;
}
